.search {
	position: fixed;
	background-color: blueviolet;
	height: 100%;
	width: 60%;
	max-width: 300px;
	right: 0;
	top: 100px;
	overflow: scroll;
	text-align: left;
}

.search li {
	display: list-item;
}
