.App {
	text-align: center;
}
.App a {
	color: #696980;
}
.App a:hover {
	color: #4e4e5e;
}
.App .btn-lnk {
  color: #696980;
}

@media only screen and (min-width: 701px) {
	.desktopSidebarWrapper {
		margin: 0 0 0 300px;
	}
}
