.desktopNav {
  background: red;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
}

.search {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}
